<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>ILK Foundation</title>
    <link rel="stylesheet" href="main.css">
    <link href="~/css/testimonials.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
</head>

<body>
   
    <!-- Hero-->
    <header class="hero">
        <div class="container">
            <div class="hero-heading text-uppercase">We care for you </div>
            <a class="btn btn-danger btn-lg text-uppercase js-scroll-trigger"
               href="#services">Tell us More</a>
        </div>
    </header>
    <!--end of Hero Image-->
    <!-- Major Causes-->
    <section class="mt-5 page-section" id="helpus">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase font-weight-bold">How To Help</h2>
                <h3 class="section-subheading text-muted">
                </h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="fa-stack fa-4x">
                        <div class="custom-image-container">
                            <img src="~/css/images/coloured_sponsor_icon.png" alt="Custom Icon" class="custom-image">
                        </div>
                    </div>

                    <h4 class="my-3">Give Donations</h4>
                    <p class="text-muted">
                        Together, we can achieve more. Your donation directly supports our mission, ensuring we continue our vital work.
                        Whether it's providing educational resources, supporting our soup kitchen, or nurturing our community garden, your contribution makes a difference.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="fa-stack fa-4x">
                        <div class="custom-image-container">
                            <img src="~/css/images/colour_volunteer_icon.png" alt="Custom Icon" class="custom-image">
                        </div>
                    </div>

                    <h4 class="my-3">Become a Volunteer</h4>
                    <p class="text-muted">
                        Your volunteering with our organization helps us assist more people, undertake sustainable projects, and reach more poor communities.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="fa-stack fa-4x">
                        <div class="custom-image-container">
                            <img src="~/css/images/colour_donate_icon.png" alt="Custom Icon" class="custom-image">
                        </div>
                    </div>
                    <h4 class="my-3">Sponsor</h4>
                    <p class="text-muted">
                        Your support will empower us to expand our reach, enhance our programs, and impact more lives in the communities we serve.
                        With your partnership, we can access essential resources, drive sustainable initiatives, and amplify our shared vision for a better future.
                    </p>
                </div>
               
            </div>
        </div>
    </section>
    <!-- End of Major Causes-->
    <!--Project Section-->
    <section class="proj-section bg-light py-5" id="project">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Past Events</h2>
                <h3 class="section-subheading text-muted">
                    Have a look at ours past events.
                </h3>
            </div>
            <div class="row">
                <!---Project 1-->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal"
                           href="#projectModal1">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/css/images/burger day.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">10 000 burger day</div>
                            <div class="project-caption-subheading text-muted">
                                have a look at 10000 burger day
                            </div>
                        </div>
                    </div>
                </div>
                <!--- End of Project 1-->
                <!---Project 2-->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal"
                           href="#projectModal2">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/css/images/book day.jpg" alt="" />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">EVENT 2</div>
                            <div class="project-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <!--End of Project 2-->
                <!--Project 3-->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal" href="#projectModal3">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/css/images/earth day.jpg" alt="">
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">EVENT 3 </div>
                            <div class="project-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <!--End of Project 3-->
            @*     <!--Project4 -->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal" href="#projectModal3">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/css/images/excursion day.jpg" alt="">
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">EVENT 4</div>
                            <div class="project-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <!--End of Project 4-->
                <!--Project5 -->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal" href="#projectModal3">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/css/images/geaduation day.jpg" alt="">
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">EVENT 5</div>
                            <div class="project-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <!--End of Project 5-->
                <!--Project6 -->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="project-item">
                        <a class="project-link" data-toggle="modal" href="#projectModal3">
                            <div class="project-hover">
                                <div class="project-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="" alt="">
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">EVENT 6 </div>
                            <div class="project-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div> *@
                <!--End of Project 6-->

            </div>
        </div>
        </div>
        </div>
    </section>
    <!--End of Project Section-->
    <!---About us-->
    <!-- About-->
    <section class="about-section mt-5" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Mission</h2>
                <h3 class="section-subheading text-muted">
                    Our mission is to break the chains of poverty caused by poor literacy, lack of opportunity, and wasted potential, improving the lives of children, families, and communities.
                </h3>
            </div>
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                            <img src="Images/about.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                             data-aos="fade-left">
                            <h3>Our Objectives</h3>
@*                             <p>ABOUT US INFORMATION.</p> *@
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
                                <h4 class="title"><a href="">Poverty Alleviation and Literacy projects</a></h4>
                                <p class="description">Our Poverty Alleviation and Literacy projects is to increase earning opportunities for the poor,
                                    improve children's nutrition, and help vulnerable communities become self-sufficient and productive members of society.</p>
                            </div>

                          @*   <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon"><i class="fas fa-gifts"></i></div>
                                <h4 class="title"><a href="">REASON 2</a></h4>
                                <p class="description">MORE AOUT US </p>
                            </div>

                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon"><i class="fas fa-mug-hot"></i></div>
                                <h4 class="title"><a href="">REASON 3</a></h4>
                                <p class="description">MORE INFOR IF NEEDED</p>
                            </div> *@

                        </div>
                    </div>

                </div>
            </section>
            <!-- End About Section -->
            <!-- Team-->
           @*
            <section class="team-section mt-5" id="team">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">PAST EVENTS</h2>
                        <h3 class="section-subheading text-muted">Descrption</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member box">
                                <div class="img-box">
                                    <img src="Images/team.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h4 class="text-dark">Upcoming event 1</h4>
                                    <p class="text-muted">
                                        description of events
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member box">
                                <div class="img-box">
                                    <img src="Images/team2.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h4 class="text-dark">Upcoming Event 2</h4>
                                    <p class="text-muted">
                                        description of event
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member box">
                                <div class="img-box">
                                    <img src="Images/team3.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h4 class="text-color">Upcoming Event 3</h4>
                                    <p class="text-muted">
                                        description of event
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End of Team Section-->
            <!--Blog Section-->
            <section class="page-section mt-5" id="testimonials">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Latest testimonials</h2>
                        <h3 class="section-subheading text-muted">DESCRIPTION.</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="card mb-4 shadow color">
                                <div class="card-body ">
                                    <img src="Images/about3.jpg" class="card-img-top">
                                    <div class="ribbon text font-weight-bold">Post-Title</div>
                                    <article>
                                        <header class="mb-2">
                                            <div class="font-weight-bold">Author Name</div>
                                            <div class="small">Posted on: <time datetime="2017-03-12T10:24">May 10, 2020 at 01:44 PM</time></div>
                                        </header>
                                        <p>
                                            DECSRIPTION
                                        </p>
                                        <a href="blog-post-text.html" class="btn btn-color">Read more</a>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!---End of card-->
                        <div class="col-12 col-lg-4">
                            <div class="card mb-4 shadow color">
                                <div class="card-body ">
                                    <img src="Images/about2.jpg" class="card-img-top">
                                    <div class="ribbon text font-weight-bold">Post-Title</div>
                                    <article>
                                        <header class="mb-2">
                                            <div class="font-weight-bold">Author Name</div>
                                            <div class="small">Posted on: <time datetime="2017-03-12T10:24">May 10, 2020 at 01:44 PM</time></div>
                                        </header>
                                        <p>
                                            DESCRIPTION
                                        </p>
                                        <a href="blog-post-text.html" class="btn btn-color">Read more</a>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!---End of card-->
                        <div class="col-12 col-lg-4">
                            <div class="card mb-4 shadow color">
                                <div class="card-body ">
                                    <img src="Images/about1.jpg" class="card-img-top">
                                    <div class="ribbon text font-weight-bold">Post-Title</div>
                                    <article>
                                        <header class="mb-2">
                                            <div class="font-weight-bold">Author Name</div>
                                            <div class="small">Posted on: <time datetime="2017-03-12T10:24">May 10, 2020 at 01:44 PM</time></div>
                                        </header>
                                        <p>
                                            DESCRIPTION
                                        </p>
                                        <a href="blog-post-text.html" class="btn btn-color">Read more</a>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!---End of card-->
                    </div>
            </section>
            <!--end of Blog Section-->
            *@

            <!-- Events Section-->
            <section class="team-section mt-5" id="events">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Upcoming Events</h2>
                        <h3 class="section-subheading text-muted">Join us at one of our upcoming events</h3>
                      

                    </div>
                    <div class="row">
                        @foreach (var eventItem in Model.Events)
                        {
                            <div class="col-lg-4">
                                <div class="team-member box">
                                    <div class="img-box">
                                        <img src="data:image;base64,@(Convert.ToBase64String(eventItem.ImageData))" alt="">
                                    </div>
                                    <div class="content">

                                        <p class="text-muted">
                                            @eventItem.EventName
                                        </p>
                                        <p class="text-muted">
                                            @eventItem.Description
                                        </p>
                                        <p class="text-muted">
                                            Location: @eventItem.EventLocation
                                        </p>
                                        <p class="text-muted">
                                            Date: @eventItem.EventDate.ToString("yyyy-MM-dd")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </section>

            <!--testimonials Section-->
            <section class="page-section mt-5" id="testimonials">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Testimonials</h2>
                        <h3 class="section-subheading text-muted">Hear from our people.</h3>
                       
                      
                    </div>
                    <div class="row">
                        @foreach (var testimonial in Model.Testimonials)
                        {
                            <div class="col-12 col-lg-4">
                                <div class="card mb-4 shadow color card-fixed-height">
                                    <div class="card-body">
                                        @if (testimonial.ImageData != null)
                                        {
                                            <img src="data:image;base64,@Convert.ToBase64String(testimonial.ImageData)" alt="Testimonial Image" class="card-img-top" style="object-fit: cover; height: 200px; border-top-left-radius: .25rem; border-top-right-radius: .25rem;" />
                                        }
                                        <div class="ribbon text font-weight-bold">@testimonial.Position</div>
                                        <article>
                                            <header class="mb-2">
                                                <div class="font-weight-bold">@testimonial.Author</div>
                                                <div class="small">Posted on: <time datetime="@testimonial.Date.ToString("yyyy-MM-dd")">@testimonial.Date.ToString("MMMM dd, yyyy")</time></div>
                                            </header>
                                            <p class="testimonial-description">
                                                @testimonial.Description
                                            </p>
                                            <a href="#" class="btn btn-color read-more">Read more</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <!-- Project Modals-->
            <!-- Modal 1-->
            <div class="project-modal modal fade"
                 id="projectModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">
                                            DESCRIPTION
                                        </p>
                                        <img class="img-fluid d-block mx-auto" src="~/css/images/burger day.jpg" alt="" />
                                        <p>
                                            DESCRIPTION
                                        </p>
                                        <ul class="list-inline">
                                            <li>Date: May 2020</li>
                                            <li>Category: </li>
                                        </ul>
                                        <button class="btn btn-danger"
                                                data-dismiss="modal" type="button">
                                            <i class="fas fa-times mr-1"></i>Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 2-->
            <div class="project-modal modal fade"
                 id="projectModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">
                                            DESCRIPTION
                                        </p>
                                        <img src="~/css/images/book day.jpg" class="img-fluid d-block mx-auto" alt="" />
                                        <p>describe your project.</p>
                                        <ul class="list-inline">
                                            <li>Date: May 2020</li>
                                            <li>Category:</li>
                                        </ul>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button">
                                            <i class="fas fa-times mr-1"></i>Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 3-->
            <div class="project-modal modal fade" id="projectModal3"
                 tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">    DESCRIPTION</p>
                                        <img src="~/css/images/earth day.jpg" class="img-fluid d-block mx-auto" alt="" />
                                        <p> describe your project!</p>
                                        <ul class="list-inline">
                                            <li>Date: May 2020</li>
                                            <li>Category: </li>
                                        </ul>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 4-->
            <div class="project-modal modal fade"
                 id="projectModal4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">    DESCRIPTION</p>
                                        <img src="~/css/images/excursion day.jpg" class="img-fluid d-block mx-auto" alt="" />
                                        <p>
                                            DESCRIPTION
                                        </p>
                                        <ul class="list-inline">
                                            <li>Date: May 2020</li>
                                            <li>Category: </li>
                                        </ul>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 5-->
            <div class="project-modal modal fade" id="projectModal5"
                 tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">    DESCRIPTION.</p>
                                        <img src="~/css/images/geaduation day.jpg" class="img-fluid d-block mx-auto" alt="">
                                        <p>DESCRIBE your project</p>
                                        <ul class="list-inline">
                                            <li>Date: May 2020</li>
                                            <li>Category: </li>
                                        </ul>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 6-->
            <!--Footer Section-->
            <!-- Signup-->
            <section class="signup-section mt-5" id="signup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 mx-auto text-center">
                            <h2 class="text-dark mb-5">Subscribe to receive updates!</h2>
                            <form class="form-inline d-flex">
                                <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
                                       id="inputEmail" type="email" placeholder="Enter email address...">
                                <button class="btn btn-danger mx-auto" type="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact mt-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Contact</h2>
                        <h3 class="section-subheading text-muted">
                            Contact us here.
                        </h3>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 info">
                                    <i class="fas fa-map"></i>
                                    <h4>Address</h4>
                                    <p>56 Mfuphi Threeway Extension, Chestervillee</p>
                                </div>
                                <div class="col-lg-6 info">
                                    <i class="fas fa-phone"></i>
                                    <h4>Call Us</h4>
                                    <p>0786679231</p>
                                </div>
                                <div class="col-lg-6 info">
                                    <i class="fas fa-envelope"></i>
                                    <h4>Email Us</h4>
                                    <p>icebolomkhumbane@gmail.com</p>
                                </div>
                                <div class="col-lg-6 info">
                                    <i class="fas fa-clock"></i>
                                    <h4>Hours Of Operation</h4>
                                    <p>Mon - Fri: 8AM to 4:30PM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form>
                                <div class="form-group">
                                    <input placeholder="Your Name" type="text" name="name"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <input placeholder="Your Email" type="email" class="form-control"
                                           name="email">
                                </div>
                                <div class="form-group">
                                    <input placeholder="Subject" type="text" class="form-control"
                                           name="subject">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Message" class="form-control"
                                              name="message" rows="5"></textarea>
                                    <div class="validate"></div>
                                </div>
                                <div class="text-center">
                                    <button style="margin-bottom:3em;"
                                            type="submit"
                                            class="btn btn-danger rounded-cor">
                                        Send Message
                                    </button>
                                  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Section -->
            
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var readMoreButtons = document.querySelectorAll('.read-more');

        readMoreButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                var card = button.closest('.card');
                var description = card.querySelector('.testimonial-description');

                if (card.classList.contains('card-expanded')) {
                    card.classList.remove('card-expanded');
                    description.classList.remove('expanded-description');
                    button.textContent = 'Read more';
                } else {
                    card.classList.add('card-expanded');
                    description.classList.add('expanded-description');
                    button.textContent = 'Read less';
                }
            });
        });
    });
</script>